.navbar {
  position: fixed;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  font-family: "Maitree", serif;
}

#About {
  width: 80%;
  padding: 10%;
  margin: 2%;
  background: lightblue;
  border: 2px solid black;
  border-radius:15%;
  display: inline-block;
}

h1 {
  font-family: "Maitree", serif;
  padding: 20px;
  margin: auto;
}

h2{
  font-family: "Suranna", serif;
}
p, li{
  margin: auto;
  font-family: "Suranna", serif;
  font-size: 125%;
}

ul {
  list-style: square inside none;
}
.project img {
  width: 25%;
  height: 250px;
  border: 1px black solid;
  display: inline-block;
  float: left;
}

.project p {
  width: 25%;
  border: 1px black solid;
  display: inline-block;
  padding: 1%;
  margin: 2%;
}
.project {
  background: lightgray;
  display: inline-block;
  float: left;
  padding: 1%;
  margin: 2%;
}

#Skills{
  padding: 5% 15% 5% 15%;
  margin: 5%;
  width: 95%;
  background: lightblue;
  border: 2px solid black;
  border-radius: 5%
}

li {
list-style-position: inside;
}

#Contact{
  background: lightgrey;
  border: 1px solid black;
  padding: 5%;
  margin: 2%;
}
#icons img {
  border-radius:50%;
  height: 20px;
  width: 20px
}
