h1 {
  font-family: serif;
}
#icons img {
  border-radius:50%;
  height: 20px;
  width: 20px
}
#Icons #Projects #About #Skills {
  margin: auto;
}

body{
  text-align: center;
}

li {
list-style-position: inside;
}
